*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
  color: white;
}
.container{
  display: flex;
  
}
.sidebar{
  width: 300px;
  /* background-color: black; */
}
.feed{
  background-color:black;
  width:50vw;
}
.sug{
  width: 500px;
  background-color: rgb(0, 0, 0);
}
.logo{
  width: 115px;
  position: relative;
  top: 28px;
  margin-left: -10px;
}
.menu{
  display: flex;
  flex-direction: column;
  position: fixed;
  margin-left: 25px;
  gap: 30px;
  cursor: pointer;
}
.footer-1{
 display: flex;
 flex-direction: column;
 position: fixed;
 bottom: 0;
 margin-left: 25px;
 margin-bottom: 70px;
}
.side{
  
  display: flex;
  height: 100vh;
  color: white;
 
}
.fa-solid ,.fa-regular{
  font-size:22px;
}
.sb{
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
  top: 40px;
}

.dp{
  border-radius: 50%;
  height: 30px;
  width: 30px;

}
.dp-m,.pf-m{
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 8px;
  color: white;
}

.dot{
  margin-left: auto;
  font-size: 17px;
  cursor: pointer;
}
.post{
  width: 400px;
  border-radius: 5px;
  margin-top: 8px;
}
.bi{
  
  font-size: 20px;
  padding-right: 12px;
}
.likes{
  margin-top: 10px;
  font-weight: bold;
}
.feed{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.fa-bookmark{
  margin-top: 10px;
  position: relative;
  left: 72%;
}
.sw{
  color:  #007efc;;
  margin-left: auto;
  font-size: 12px;
}
.suggestion{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 55%;
  margin-top: 40px;
  margin-left: 13px;
}
.see{
  display: flex;
  color: white;
  font-size: 14px;
  margin-top: 20px;
}
.see p{
  color: #878787;
  font-weight: bold;
}
.see b{
  margin-left: auto;
  font-size: 12px;
  
}
.sg-m{
  display: flex;
  align-items: center;
  margin-top: 12px;
  gap: 10px;
}
  
.sg,.pf{
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.fol{
  color: #007efc;
  margin-left:auto;
  font-size: 12px;
  cursor: pointer;
  text-decoration: none;
}
.fol:hover{
  color: white;
}
.fol:active{
  color: #878787;
}
.fot{
  margin-top: 50px;
  color: #737373;
  font-size: 13px;
  width: 300px;
  margin-left: 13px;
}
.fot1{
  color: #737373;
  font-size: 13px;
  margin-left: 13px;
  margin-top: 15px;
}
.gradient-border{
  width: 60px;
  height: 60px;
  background:linear-gradient(45deg,#ff00ff,#ff6600,#ffcc00);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stry-dp{
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
.stry{
  display: flex;
  margin-top: 30px;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.stry-img{
  height: 600px;
}
.stories{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.arrow{
  margin: 10px;
}
.s-text{
  font-size: 12px;
  width: 70px;
  text-overflow:ellipsis;
  overflow: hidden;
  text-align: center;
}
.profile{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.prof-m{
  margin: 30px;
}
.prof-m1{
  display: flex;
  flex-direction: column;
}
.prof-m1 p{
  /* color: black; */
  margin-top: 10px;
}
input{
  color: black;
  border: 1px solid white;
  background-color: white;
  width: 400px;
  height: 40px;
  border-radius: 5px;
  padding-left:10px ;
  margin-top: 10px;
}
.btn{
  width: 70px;
  margin-top: 10px;
  border-radius: 5px;
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color: #0051ff;
}
.btn:active{
  background-color: #eae7e7;
  color: black;
}
.followers{
  color: white;
  margin-top: 15px;
  display: flex;  
}
.btn-2{
  border-radius: 5px;
  padding: 4px;
  font-weight: bold;  
  margin-left: auto;
  border: none;
  cursor: pointer;
  background-color: #0051ff;
}
.btn-2:active{
  background-color: #eae7e7;
  color: black;

}